[Unit]
Description=Tuya Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=tuya
Group=tuya
Type=simple
EnvironmentFile=/home/tuya/tuya_exporter/tuya_exporter2.conf
ExecStart=/home/tuya/tuya_exporter/tuya_exporter.py $DEVICES --port $PORT --config $CONFIG

[Install]
WantedBy=multi-user.target

